<% include ../partials/header %>

<h1>Хэрэглэгчийн Цэс</h1>

<% if(typeof user.imageURL != undefined && (user.imageURL).length > 0) {%>
  <img src=" <%= user.imageURL[0] %> " alt="User Profile Image">
<% } else { %>
  <img src="https://storage.cloud.google.com/authdemo-f7863.appspot.com/profile/astronaut.png" alt="User Profile Image Not Available">
<% } %>


<form action="/users/show" method="POST">
  <label for="image">Профайл зураг</label><br>
  <input type="text" name="lastname" value="<%= user.lastname %>"><br>
  <input type="text" name="firstname" value="<%= user.firstname %>"><br>
  <input type="number" name="birthday" value="<%= user.birthday %>"><br>
  <input type="number" name="phoneNumber" value="<%= user.phoneNumber %>"><br>
  <input type="text" name="address" value="<%= user.address %>"><br>
  <input type="text" name="email" value="<%= user.email %>"><br>
  <button>Submit</button><br>
</form>

<h4>Бүртгүүлсэн огноо: <%= createdDate %></h4>

<li><a href="/secret">Буцах</a></li>
<li><a href="/users/photo">Профайл</a></li>
<li><a href="/users/reset">Нууц үг солих</a></li>
<li><a href="/users/deleteAccount">Хэрэглэгчийн бүртгэл устгах</a></li>
<li><a href="/logout">Гарах</a></li>

<p>I got you, Anya</p>
<img src="https://external-preview.redd.it/Z-CRi75l3T356PlPoitnIaMnP7ZVSphTgLfxE2szyXM.png?auto=webp&s=7eb34beffca742268a1dc95a6f9b431ee4ddb62a" alt="">


<% include ../partials/footer %>
